/* App.css */
.App {
  text-align: center;
  background-color: #f9f9f9;
  padding: 0; /* Add some padding around the app */
  width: 100%; /* Take full width */
  max-width: 1920px; /* Max width for larger screens */
  margin: 0 auto; /* Center the App */
}

h1 {
  font-family: Arial, sans-serif;
  color: #333;
}

/* Media query for larger screens (4k) */
@media (min-width: 2560px) {
  .App {
    max-width: 2048px; /* Slightly larger max-width */
    margin: auto; /* Add vertical margins and center */
  }
}
